<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</head>
<body >
    <h1>KIKOFIX</h1>
    <h2 class="title"> СЕРВИСЕН ЦЕНТАР ЗА BMW ВОЗИЛА ВО МАКЕДОНИЈА</h2>
    <a href="/home">HOME PAGE</a>
    <a href="/reservation">RESERVATIONS</a>
    <a href="">ABOUT US</a>
    <a href="">SKECULE A RESERVATION</a>
<div class="container">
    <div class="row justify-content-center">
        <h2 class="col-center">Услуги</h2>
    </div>
    <div class="row gx-100">
        <div class="col">
            <div>
                <h3 class="text-center">BMW СЕРВИС</h3>
                <p class="text-center align-self-center">
                    Сервисниот центар е комплетно опремен со специјален алат,
                    опрема и професионалци со долгогодишно искуство во сервисирањето
                    во кој се гарантира одржување и сервисирање на возилата BMW.
                </p>
            </div>
        </div>
        <div class="col"></div>
    </div>
    <div class="row">
        <div class="col"></div>
        <div class="col">
            <h3 class="text-center">BMW КЛИМА СЕРВИС</h3>
            <p class="text-center align-self-center">
                Во сервисниот центар Кикофих можете да направите детална и целосна проверка на системот за
                климатизација, да добиете сервисен извештај од нашите инженери и комплетен сервис – дополнување на фреон,
                или поправка на системот.
            </p>
        </div>

    </div>
    <div class="row">
        <div class="col">
            <h3 class="text-center">BMW ДЕЛОВИ</h3>
            <p class="text-center align-self-center">
                Кикофих ви нуди широк асортиман на резервни делови со оригинален квалитет за вашето BMW.
                За врвни перформанси на вашето возило BMW, резервните делови се набавени директно од производителот – BMW.
            </p>
        </div>
        <div class="col"></div>
    </div>
    <div class="row">
        <div class="col"></div>
       <div class="col">
            <h4 class="text-center">Нешто повеке за нас</h4>
            <p class="text-center align-self-center">
                Сервисниот центар Зетов, нуди високо квалитетна услуга и професионалниот, одржување и врвен сервис на сите
                возила од марката BMW во Македонија. Во сервисниот центар се користат оригинални резервни делови и
                потрошен материјал со одлични цени и 12 месечна гаранција на истите.
            </p>
       </div>

    </div>
</div>

</body>
</html>